# -*- mode: shell-script -*-

# shellcheck shell=bash
# shellcheck source=./.functions
[[ -r ~/.functions && ! "$os" ]] && . ~/.functions
alias ls='ls -F'
alias ll='ls -al'
if [[ $os == Li ]]; then
    alias df='df -h'
    alias ls='ls -vF'
    alias ll='ls -halv --time-style="+%y-%m-%d %H:%M:%S"'
    if free -V | grep -q procps-ng; then
	alias free='free -ht'
    else
	alias free='free -mt'
    fi
elif [[ $os == Da ]]; then
    alias df='df -h'
elif [[ $os == HP ]]; then
    alias df=bdf
fi

# Some alias only for root
if [[ $UID == 0 ]]; then
    alias z='suspend -f'
fi

alias rootxauth='sudo -H xauth add `xauth list $DISPLAY`'
alias g=git
alias l=less
alias zl=zless
alias llt='ll -tr'
alias j=jobs
f() {
    if [[ -n "$*" ]]; then
	printf "%-9s %s\n" "Login" "Name"
	getent passwd "$@" | awk -F: '{printf("%-9s %s\n",$1,$5)}'
    elif hash pinky > /dev/null 2>&1; then
	pinky
    else
	finger -m
    fi
}
alias h='history'
alias gzip='gzip --best'
if [[ $dist == Suse && $rel_maj -lt 11 ]]; then
    :
else
    if [[ $os == Li ]]; then
	alias grep='grep --color=auto --exclude-dir=.git'
    else
	alias grep='grep --color=auto'
    fi
fi

#Run mac-emacs on mac OS X
if [[ "${TERM_PROGRAM}" == "iTerm.app" ]]; then
    emacs() {
	/Applications/Emacs.app/Contents/MacOS/Emacs "$@"
    }
fi

# BoKS
if [[ -x /opt/boksm/bin/suexec ]]; then
    alias sudo=/opt/boksm/bin/suexec
    alias sbash="suexec bash --rcfile ~/.bashrc"
elif [[ $domain =~ (^|\.)rsvm?\.se$ ]]; then
    alias sbash="sudo bash --rcfile ~/.bashrc"
else
    alias sbash='sudo bash'
fi

# COW (Copy-On-Write) if supported
if [[ $os == Li ]]; then
    (( cu_ver[0] > 7 && cu_ver[1] > 6 )) && alias cp='cp --reflink=auto'
fi

case $host in
    jane)
	[[ $DISPLAY ]] || alias x='startx -- /usr/bin/X -listen tcp > ${HOME}/log/startx.log 2>&1'
	;;
    bean)
	[[ $DISPLAY ]] || alias x='startx -- /usr/bin/X > ${HOME}/log/startx.log 2>&1'
	;;
    u11338)
	alias x='xterm -name launchwindow -ls -geometry 80x15+2+2 -bg "#dbffd4" & ssh -o ControlMaster=no v10073.rsvm.se X11/xsession'
	;;
    u11340)
	alias x='xterm -name launchwindow -ls -geometry 80x15+2+2 -bg "#dbffd4" &'
	;;
esac

if [[ -x /usr/local/bin/morse ]]; then
    alias morse='time /usr/local/bin/morse -r -C 'qwertyuiopasdfghjklzxcvbnm,.?/}{\\\|' -w 20 -T -q -n 5 -N 100'
fi

# Gentoo
if [[ $dist == Gentoo ]]; then
    alias qpkg='qpkg -nc'
    alias equery='equery --nocolor'
    alias genlop='genlop --nocolor'
    alias eix='eix -n'
    worldopts='--oneshot --deep --update --ask --verbose y --keep-going --newuse --with-bdeps y --changed-deps --verbose-conflicts --backtrack=8 --autounmask-backtrack=y'
    case $host in
	jane)
	    worldopts="$worldopts --jobs=5 --load-average=10"
	    ;;
	ender)
	    worldopts="$worldopts --jobs=2 --load-average=4"
	    ;;
	bean)
	    worldopts="$worldopts --jobs=2 --load-average=4"
	    ;;
    esac
    alias world="sudo emerge $worldopts @system @world @preserved-rebuild"
fi

# RPS
if [[ "$domain" == utv.rps.police.se ]]; then
    alias nds='ldapsearch -x -h fs-rpsutv-1 -b ou=rps,o=police,c=se -D CN=u0043002,OU=USE,OU=RPS,O=POLICE,C=SE -y /localhome/chrekh/ldappw'
    alias ads='net ads -U a0043002@UMAD.UTV.POLISEN.SE search'
fi
if [[ "$domain" == utv.polisen.se ]]; then
    if rpm -q rxvt-unicode > /dev/null 2>&1; then
	alias rxvt="urxvt -ls -bg '#ffd0c0' -fg '#000000'"
    else
	alias rxvt="xterm -ls -bg '#ffd0c0' -fg '#000000'"
    fi
fi
case $host in
    nt* | NT* )
	alias down='cd //tsclient/C/Users/u0043002/Downloads'
	;;
esac
if pum < /dev/null > /dev/null 2>&1; then
    alias last='last -wF|egrep -v ^cmdb|tac|pum'
else
    alias last='last -wF|egrep -v ^cmdb|tac'
fi

# ClearCase
if type cleartool > /dev/null 2>&1; then
    alias c=cleartool
    alias sc='sudo cleartool'
fi
