# -*- mode: shell-script -*-

# shellcheck shell=bash
# shellcheck source=./.functions
[[ -r ~/.functions && ! "$os" ]] && . ~/.functions
alias ls='ls -F'
alias ll='ls -al'
if [[ $os == Li ]]; then
    alias df='df -h'
    alias ls='ls -vF'
    alias ll='ls -halv --time-style="+%y-%m-%d %H:%M:%S"'
    if free -V | grep -q procps-ng; then
        alias free='free -ht'
    else
        alias free='free -mt'
    fi
elif [[ $os == Da || $os == Fr ]]; then
    alias df='df -h'
elif [[ $os == HP ]]; then
    alias df=bdf
fi

# Some alias only for root
if [[ $UID == 0 ]]; then
    alias z='suspend -f'
fi

# Remove alias vi (if set by /etc/profile)
alias vi >/dev/null 2>&1 && unalias vi
# But add it if vi is not available, but vim is.
if ! hash vi > /dev/null 2>&1; then
    hash vim > /dev/null 2>&1 && alias vi=vim
fi

alias rootxauth='sudo -H xauth add `xauth list $DISPLAY`'
alias g=git
alias gk='gitk --all --date-order &'
alias l=less
alias zl=zless
alias llt='ll -tr'
alias j=jobs
f() {
  if [[ -n "$*" ]]; then
    # Prefere finger over pinky
    if hash finger > /dev/null 2>&1; then
      finger -m "$@"
    else
      # pinky only looks at users logged in, so use getent
      printf "%-9s %s\n" "Login" "Name"
      getent passwd "$@" | awk -F: '{printf("%-9s %s\n",$1,$5)}'
    fi
  else
    # Prefer pinky over finger
    if hash pinky > /dev/null 2>&1; then
      pinky
    else
      finger
    fi
  fi
}
alias h='history'
alias gzip='gzip --best'
if [[ $dist == Suse && $rel_maj -lt 11 ]]; then
    :
else
    if [[ $os == Li || $os == Fr ]]; then
        alias grep='grep --color=auto --exclude-dir=.git'
    elif [[ $os == Su ]]; then
        :
    else
        alias grep='grep --color=auto'
    fi
fi

#Run mac-emacs on mac OS X
if [[ "${TERM_PROGRAM}" == "iTerm.app" ]]; then
    emacs() {
        /Applications/Emacs.app/Contents/MacOS/Emacs "$@"
    }
fi

# BoKS
if [[ -x /opt/boksm/bin/suexec ]]; then
    alias sudo=/opt/boksm/bin/suexec
    alias sbash="suexec bash --rcfile ~/.bashrc"
    if [[ $host == boksm ]]; then
      alias bkspnr='suexec /boks/pki_script/tools/boksrevision/bin/PNRUNRControl.pl'
    fi
elif [[ $domain =~ (^|\.)rsvm?\.se$ ]]; then
    alias sbash="sudo bash --rcfile ~/.bashrc"
else
    alias sbash='sudo bash'
fi

# COW (Copy-On-Write) if supported
if [[ $os == Li ]]; then
    (( cu_ver[0] > 7 && cu_ver[1] > 6 )) && alias cp='cp --reflink=auto'
fi

case $host in
    jane)
        [[ $DISPLAY ]] || alias x='startx -- /usr/libexec/Xorg.wrap -listen tcp > ${HOME}/log/startx.log 2>&1'
        ;;
    bean)
        [[ $DISPLAY ]] || alias x='startx -- /usr/libexec/Xorg.wrap > ${HOME}/log/startx.log 2>&1'
        ;;
    u11338)
        alias x='xterm -name launchwindow -ls -geometry 80x15+2+2 -bg "#dbffd4" & ssh -o ControlMaster=no v10073.rsvm.se X11/xsession'
        ;;
    u11340)
        alias x='xterm -name launchwindow -ls -geometry 80x15+110+2 -bg "#dfdfff" &'
        ;;
esac

if [[ -x /usr/local/bin/morse ]]; then
    alias morse='time /usr/local/bin/morse -r -C qwertyuiopasdfghjklzxcvbnm,.?/}{\\\| -w 20 -T -q -n 5 -N 100'
fi

# Gentoo
if [[ $dist == Gentoo ]]; then
    alias qpkg='qpkg -nc'
    alias equery='equery --nocolor'
    alias genlop='genlop --nocolor'
    alias eix='eix -n'
    worldopts='--oneshot --deep --update --ask --verbose y --keep-going --newuse --with-bdeps y --changed-deps --verbose-conflicts --backtrack=8 --autounmask-backtrack=y'
    case $host in
        jane)
            worldopts="$worldopts --jobs=5 --load-average=10"
            ;;
        ender)
            worldopts="$worldopts --jobs=2 --load-average=4"
            ;;
        bean)
            worldopts="$worldopts --jobs=2 --load-average=4"
            ;;
    esac
    # shellcheck disable=SC2139
    alias world="sudo emerge $worldopts @system @world @preserved-rebuild"
fi

if pum < /dev/null > /dev/null 2>&1; then
    alias last='last -wF|egrep -v ^cmdb|tac|pum'
else
    alias last='last -wF|egrep -v ^cmdb|tac'
fi

# Polisen
case $domain in
    *.polisen.se)
	if hash hammer > /dev/null 2>&1; then
	    alias hp='hammer -c ~/.hammer/prod.yaml'
	    alias hu='hammer -c ~/.hammer/um.yaml'
	fi
esac

# Toolservers
if [[ $os = MI ]]; then
  alias down='cd //tsclient/C/Users/u0043002/Downloads'
fi

# ClearCase
if type cleartool > /dev/null 2>&1; then
    alias c=cleartool
    alias sc='sudo cleartool'
fi
