alias ls='ls -F'
alias df='df -h'
alias l=less
alias zl=zless
alias ll='ls -halv --time-style="+%y-%m-%d %H:%M:%S"'
alias llt='ll -tr'
alias j=jobs

# COW (Copy-On-Write) on btrfs
alias cp='cp --reflink=auto'

[ x$DISPLAY = x ] && alias x=xstart

if [ -x /usr/local/bin/morse ]; then
    alias morse='time /usr/local/bin/morse -r -C 'qwertyuiopasdfghjklzxcvbnm,.?/}{\\\|' -w 20 -T -q -n 5 -N 100'
fi

# Gentoo
if [ -e /etc/gentoo-release ]; then
    alias qpkg='qpkg -nc'
    alias equery='equery --nocolor'
    alias genlop='genlop --nocolor'
    alias world='sudo emerge -Duav --keep-going --jobs=10 --load-average=30 --reinstall changed-use --with-bdeps y @system @world'
    alias eix='eix -n'
fi
