# -*- mode: shell-script -*-

tty -s && echo sourcing .functions

os=$(uname -s| cut -c 1-2)
host=$(hostname -s)
dist=unknown

if [ $os = Li ]; then
    if [ -f /etc/SuSE-release ]; then
	dist=suse
    elif [ -f /etc/gentoo-release ]; then
	dist=gentoo
    elif [ -f /etc/redhat-release ]; then
	dist=redhat
    fi
    declare -a cu_ver
    cu_ver=($(cp --version 2> /dev/null | head -n 1 | awk '{print $NF}' | sed -e 's/\./ /g'))
fi

domain=$(dnsdomainname 2>/dev/null)
if [ ! $domain ]; then
    if [ -f /etc/resolv.conf ]; then
	domain=$(awk '/domain/{print $2; exit};/search/{print $2; exit}' /etc/resolv.conf)
    else
	domain=none
    fi
fi

if [ $host = ender ]; then
    spam() {
	for f in $@; do
            echo -n "$f "
            mv $f $f.spamtmp
            sa-learn --spam --mbox $f.spamtmp
            rm -f $f.spamtmp
	done
    }
fi

if [ ${BASH_VERSINFO[0]} -ge 4 ]; then
    # bash-4 have hashes
    setpath() {   
	local -A used
	local newpath
	for d in $@; do
	    [ ${used[$d]} ] && continue
	    used[$d]=y
	    [ -d $d ] || continue
	    if [ $newpath ]; then
		newpath=$newpath:$d
	    else
		newpath=$d
	    fi
	done
	echo $newpath
    }
else
    setpath() {   
	local newpath
	for d in $@; do
	    if [ $newpath ]; then
		[ $newpath = ${d} ]    && continue # d is exactly $PATH 
		[ ${newpath##$d:*} ]   || continue # d is first in $PATH
		[ ${newpath%%*:$d} ]   || continue # d is last in $PATH
		[ ${newpath##*:$d:*} ] || continue # d is in $PATH
		[ -d $d ]              || continue # d is not a directory
		newpath=$newpath:$d
	    else
		newpath=$d
	    fi
	done
	echo $newpath
    }
fi    

if [ -x /vobs/um/umtool/bin/projenv ]; then
    projenv() {
	eval $(/vobs/um/umtool/bin/projenv)
    }
elif [ -x /opt/umtool/bin/projenv ]; then
    projenv() {
	eval $(/opt/umtool/bin/projenv)
    }
fi
