.Xauthority
.hostname
.lesshst
.viminfo
.bash_history
.bash_logout
.cache
.emacs*
.gitk
.gnupg
.k5login
.kshrc
.mozilla/
.ssh-agent
.ssh/authorized_keys
.ssh/config
.ssh/id_*
.ssh/known_hosts
.vas_*
db/
extern/
misc/
puppet/
tmp/
xfer/
xwin32/
git/
