[user]
	name = Christer Ekholm
	email = che@chrekh.se
[alias]
	lg = log --pretty=oneline --graph
	logg = log --graph --stat -M -C
	stat = status
[log]
	abbrevCommit = true
	decorate = true
[merge]
	tool = meld
[push]
	default = upstream
[giggle]
	main-window-maximized = false
[color]
	ui = never
[core]
	eol = lf
[grep]
	patternType = perl
[pull]
	rebase = false
[init]
	defaultBranch = main
[fetch]
	prune = true
[safe]
        # Gitrepo for bastionadd on bastionserver
	directory = /var/www/bastionadd.git
