[user]
	name = Christer Ekholm
	email = che@chrekh.se
[alias]
	lg = log --pretty=oneline --graph
	logg = log --graph --stat -M -C
	stat = status
[log]
	abbrevCommit = true
	decorate = true
[merge]
	tool = meld
[push]
	default = matching
[giggle]
	main-window-maximized = false
[color]
	ui = never
[core]
	eol = lf
[grep]
	patternType = perl
